<template>
  <div class="bg-transparent h-full w-full">
    <div class="absolute w-full z-10">
      <div class="flex flex-row">
        <div class="flex flex-row w-1/3 m-auto">
          <nav-bar />
        </div>
        <div class="flex flex-col flex-grow">
          <div class="flex flex-row w-2/3 my-auto">
            <div class="mx-2 my-auto">Nodes: {{ data.nodes.length }}</div>
            <div class="mx-2 my-auto">Links: {{ activeLinks }}</div>
            <div
              class="mx-2 my-auto h-10 flex flex-grow flex-row items-center font-gligoth"
            >
              <div class="">
                SIMILARITY
              </div>
              <div class="mx-3 flex flex-row w-full items-center">
                <input
                  id="formSim"
                  v-model.number.lazy="evalueThr"
                  :placeholder="evalueThr"
                  interval="1"
                  type="text"
                  class="mx-2 w-8 focus:outline-none bg-transparent text-center align-text-bottom"
                />
                <vue-slider
                  id="sliderSim"
                  v-model="evalueThr"
                  :min="kDefaults.thresholdLimits.min"
                  :max="kDefaults.thresholdLimits.max"
                  :process="false"
                  direction="ltr"
                  tooltip="none"
                  width="100%"
                />
              </div>
            </div>
          </div>
          <div
            class="mx-2 my-auto h-10 flex flex-grow flex-row items-center font-gligoth"
          >
            <div class="">
              Find
            </div>
            <div class="mx-3 flex flex-row w-full items-center">
              <input
                id="formSim"
                v-model.number.lazy="findNode"
                :placeholder="findNode"
                type="text"
                class="mx-2 w-64 focus:outline-none bg-transparent text-center align-text-bottom border border-orange-500"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="absolute w-full bg-black h-full"></div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import * as d3 from 'd3'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

interface ILink {
  s: number
  t: number
  e: number
}

interface IForceLink {
  id: number
  source: number
  target: number
  e: number
}

interface IForceNode {
  id: number
  n: string
  g: number[]
  v: boolean
  h: boolean
}

export default Vue.extend({
  components: {
    VueSlider,
  },
  props: {
    pack: {
      type: Object,
      default() {
        return {
          name: '',
          nodes: [],
          links: [],
        }
      },
    },
  },
  data() {
    const evalueThr = 200
    const findNode = ''
    const kDefaults = {
      thresholdLimits: {
        min: 1,
        max: 200,
      },
    }
    const data = {
      nodes: [],
      links: [],
    }
    const validLinks: IForceLink[] = []
    const style = {
      node: {
        r: 3,
      },
      svg: {
        m: 3,
        s: 15,
      },
    }
    const activeLinks = 0
    return {
      activeLinks,
      data,
      evalueThr,
      findNode,
      kDefaults,
      style,
      validLinks,
    }
  },
  watch: {
    findNode() {
      this.findNode && this.highlightNode()
    },
    evalueThr() {
      this.updateNodes()
    },
    pack() {
      this.data.nodes = this.pack.nodes.map((name: string, i: number) => {
        return {
          id: i,
          n: name,
          g: [i],
          v: false,
          h: false,
        } as IForceNode
      })
      this.data.links = this.parseLinks()
      this.buildNodeRepresentation()
    },
  },
  mounted() {
    const width = this.$el.clientWidth as number
    const height = this.$el.clientHeight as number
    const view = [-width / 2, -height / 2, width, height].join(', ')

    const svg = d3
      .select('#main')
      .append('svg')
      .attr('id', 'mainSVG')
      .attr('width', width)
      .attr('height', height)
      .attr('viewBox', view)

    svg.append('g').attr('class', 'links')
    svg.append('g').attr('class', 'nodes')

    const svgInfo = svg.append('g').attr('class', 'info')

    svgInfo
      .append('text')
      .attr('id', 'panel')
      .attr('fill', 'white')
      .attr('transform', `translate(${-width / 2 + 100}, ${-height / 2 + 100})`)
  },
  methods: {
    buildNodeRepresentation() {
      d3.select('#panel').text('building rep')
      const svg = d3.select('#mainSVG')

      // const width = this.$el.clientWidth
      // const height = this.$el.clientHeight

      const nodes = this.data.nodes.filter((n: IForceNode) => n.g.length > 0)

      const nNodes = nodes.length
      const nCol = Math.ceil(Math.sqrt(nNodes))
      const grapthWidth = nCol * (2 * this.style.node.r + this.style.svg.s)
      const posX = (i: number) => {
        return (
          -grapthWidth / 2 +
          ((i * (2 * this.style.node.r + this.style.svg.s)) % grapthWidth)
        )
      }
      const posY = (i: number) => {
        return (
          -grapthWidth / 2 +
          Math.floor(i / nCol) * (2 * this.style.node.r + this.style.svg.s)
        )
      }

      svg
        .select('.nodes')
        .selectAll('g')
        .data(nodes, (n: any) => {
          return n.id
        })
        .join(
          (enter: any) => {
            const element = enter
              .append('g')
              .attr('id', (d: { id: number }) => `n${d.id}`)
              .on('mouseover', (node: IForceNode) => {
                const percentage =
                  (100 * node.g.length) / this.data.nodes.length
                d3.select('#panel').text(
                  `n = ${node.g.length} (${percentage.toFixed(1)}%)`
                )
              })
              .on('click', (node: IForceNode) => {
                navigator.clipboard.writeText(
                  node.g
                    .map((id: number) => {
                      const pick: IForceNode | undefined = this.data.nodes.find(
                        (node: IForceNode) => node.id === id
                      )
                      if (pick) {
                        return (pick as IForceNode).n
                      }
                    })
                    .join('\n')
                )
                d3.select('#panel').text(`${node.g.length} nodes copied`)
              })
              .call((enter: any) =>
                enter
                  .transition()
                  .delay((_d: { id: number }, i: number) => i)
                  .attr('transform', (_d: { id: number }, i: number) => {
                    return `translate(${posX(i)}, ${posY(i)})`
                  })
              )
            element
              .append('circle')
              .attr('fill-opacity', 0)
              .attr('stroke', (d: IForceNode) => (d.h ? 'red' : 'darkgrey'))
              .attr('r', (d: IForceNode) => Math.sqrt(d.g.length / Math.PI))
            // .attr('cx', (_d: { id: number }, i: number) => posX(i))
            // .attr('cy', (_d: { id: number }, i: number) => posY(i))
            /*             element
              .append('text')
              .attr('fill', 'white')
              // .attr('dx', -20)
              .text(function (d: IForceNode) {
                return d.g
              }) */

            return element
          },
          (update: any) => {
            update
              .transition()
              .duration(1000)
              .delay((_d: { id: number }, i: number) => i * 2)
              .attr('transform', (_d: { id: number }, i: number) => {
                return `translate(${posX(i)}, ${posY(i)})`
              })

            update
              .selectAll('circle')
              .transition()
              .duration(1000)
              .attr('r', (d: IForceNode) => Math.sqrt(d.g.length / Math.PI))
              .attr('stroke', (d: IForceNode) => (d.h ? 'red' : 'darkgrey'))
            /*             update
              .selectAll('text')

              .text(function (d: IForceNode) {
                return d.g
              }) */
            return update
          },
          (exit: any) => exit.call((exit: any) => exit.remove())
        )
      // this.simulation.nodes(this.data.nodes)
      let sum = 0
      this.data.nodes.forEach((n: IForceNode) => (sum += n.g.length))
      if (sum !== this.data.nodes.length) {
        throw new Error(
          `Something is wrong, we are making nodes out of nothing.`
        )
      }
      d3.select('#panel').text(`n = `)
    },
    updateNodes() {
      this.validLinks = this.data.links.filter(
        (l: IForceLink) => l.e > this.evalueThr
      )
      this.validLinks = this.simplifyLinks(this.validLinks)
      this.activeLinks = this.validLinks.length
      this.data.nodes.forEach((n: IForceNode) => {
        n.v = false
        n.g = [n.id]
      })
      this.data.nodes.forEach((n: IForceNode) => {
        if (!n.v) {
          this.dfs(n, n)
        }
      })
      this.data.nodes.sort((a: IForceNode, b: IForceNode) => {
        return b.g.length === a.g.length ? a.id - b.id : b.g.length - a.g.length
      })
      this.highlightNode()
      this.buildNodeRepresentation()
    },
    dfs(refNode: IForceNode, node: IForceNode) {
      if (node.v) {
        return
      }

      const notVisited: Set<number> = new Set(
        this.data.nodes
          .filter((n: IForceNode) => !n.v)
          .map((n: IForceNode) => n.id)
      )
      this.validLinks = this.validLinks.filter(
        (l: IForceLink) => notVisited.has(l.source) || notVisited.has(l.target)
      )
      node.v = true
      if (node.id !== refNode.id) {
        node.g.pop()
        refNode.g.push(node.id)
      }
      const connectedNodes: Set<number> = new Set()
      const unusedLinks: IForceLink[] = []
      this.validLinks.forEach((l: IForceLink) => {
        if (l.source === node.id) {
          connectedNodes.add(l.target)
        } else if (l.target === node.id) {
          connectedNodes.add(l.source)
        } else {
          unusedLinks.push(l)
        }
      })
      this.validLinks = unusedLinks
      if (connectedNodes.size) {
        this.data.nodes
          .filter((n: IForceNode) => connectedNodes.has(n.id))
          .map((n: IForceNode) => this.dfs(refNode, n))
      }
    },
    parseLinks() {
      return this.pack.links
        .filter((link: ILink) => link.s !== link.t)
        .map((link: ILink, i: number) => {
          return {
            id: i,
            source: link.s,
            target: link.t,
            e: link.e,
          }
        })
    },
    simplifyLinks(links: any) {
      const uniqueLinks: any[] = []
      const processed = new Set()
      links.forEach((l: any) => {
        const uniqueId = `${l.target}-${l.source}`
        const alternative = `${l.source}-${l.target}`
        if (!processed.has(uniqueId)) {
          processed.add(uniqueId)
          processed.add(alternative)
          uniqueLinks.push(l)
        }
      })
      return uniqueLinks
    },
    highlightNode() {
      let nodeIndex = []
      this.data.nodes.forEach((n: IForceNode) => (n.h = false))
      if (this.findNode !== '') {
        nodeIndex = this.data.nodes.filter((n: IForceNode) =>
          n.n.match(this.findNode)
        )
        if (nodeIndex.length !== 0) {
          nodeIndex.forEach((pick: IForceNode) => {
            const parent:
              | IForceNode
              | undefined = this.data.nodes.find((n: IForceNode) =>
              n.g.includes(pick.id)
            )
            if (parent) {
              (parent as IForceNode).h = true
            }
          })
        }
      }
      this.buildNodeRepresentation()
      d3.select('#panel').text(`found = ${nodeIndex.length}`)
    },
  },
})
</script>
