<template>
  <div class="flex bg-transparent flex-row w-full z-10 h-10">
    <div class="m-2 flex">
      DynoCluster
    </div>
    <div class="flex flex-row my-1">
      <div
        v-if="load"
        class="relative border rounded-full text-center text-2xs cursor-pointer px-2 my-1"
        @click="loadData"
      >
        <input
          id="files"
          type="file"
          class="absolute w-full h-full t-0 r-0 -mx-2 opacity-0"
          @change="loadData"
        />
        <button>
          load data
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import zlib from 'zlib'
import Vue from 'vue'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import { Logger } from 'loglevel-colored-prefix'

const logger = new Logger('info')
const log = logger.getLogger('LoadDataButton')

export default Vue.extend({
  components: {
    VueSlider,
  },
  data() {
    const control = {
      evalueThr: 100,
    }
    const kDefaults = {
      thresholdLimits: {
        min: 1,
        max: 200,
      },
    }
    const load = true
    return {
      control,
      kDefaults,
      load,
    }
  },
  methods: {
    loadData(e: any) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      const reader = new FileReader()
      reader.readAsArrayBuffer(files[0])
      reader.onload = () => {
        const data = reader.result as ArrayBuffer
        if (data) {
          const dataZipped = Buffer.from(data)
          const unzippedRaw = zlib.unzipSync(dataZipped)
          const unzipped = unzippedRaw.toString()
          log.debug(unzippedRaw)
          let pack: any = {}
          try {
            pack = JSON.parse(unzipped)
            log.info(pack.name)
          } catch (err) {
            const errorPayload = {
              show: true,
              msg: err.message,
            }
            this.$emit('newError', errorPayload)
            log.error(errorPayload)
            log.error(pack)
            // console.error(err)
          }
          if (this.checkIntegrity(pack)) {
            this.$root.$emit('dataReceived', pack)
            this.load = false
          }
        }
      }
      reader.onprogress = (progress) => {
        log.info(progress)
      }
    },
    checkIntegrity(pack: any) {
      if (pack.nodes && pack.links && pack.name) {
        return true
      }
      return false
    },
  },
})
</script>
